@use 'utils' as *;
@use 'color';
@use 'functions';
@use 'font';
.about {
  // height: 60vh;
  padding: 4em 1em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  & > div {
    & > h1 {
      font-family: font.$roboto;
      font-weight: bold;
      font-size: functions.responsive_font(1.5rem, 2.25rem);
      position: relative;
      &::before {
        content: '|';
        position: absolute;
        left: -10px;
        top: -10px;
        font-size: 1.5em;
        @include for_larger_device {
          left: -20px;
        }
      }
    }
    & > ul > li {
      font-family: font.$roboto;
      font-weight: medium;
      font-size: functions.responsive_font(1rem, 1.5rem);
    }
  }
  & > img {
    width: min-content;
    margin-top: 1em;
  }

  @include for_larger_device {
    flex-flow: row nowrap;
    & > img {
      width: min(600px, 60%);
    }
    & > div {
      margin-left: 1em;
      margin-right: 1em;
    }
  }
}
& > [data-color='white'] {
  background-color: white;
  color: black;
}
& > [data-color='black'] {
  background-color: black;
  color: white;
  @include for_larger_device {
    flex-flow: row-reverse nowrap;
  }
}
