@use 'color';
@use 'font';
@use 'functions' as fun;
@use 'utils' as *;
.hero {
  background-color: color.$non-photo-blue;
  display: grid;
  place-items: center;
  gap: 1em;
  padding: 1em 1em;
  font-size: fun.responsive_font(2rem, 4rem, 22.5rem, 90rem);
  font-family: font.$roboto;

  & > img {
  }
  & > h1 {
    text-align: center;
    font-size: 1em;
    color: color.$royal-blue-dark;
  }
  & > .button {
    @include cursor-pointer;
    padding: 0.5em 3em;
    font-size: 0.6em;
    color: color.$white;
    background-color: color.$sapphire-blue;
  }
  @include for_larger_device {
    padding: 1.5em 2em;
    place-items: start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 0.1em;

    & > h1 {
      padding-top: 2em;
      grid-column: 1 / 2;
      text-align: left;
      line-height: 0.99;
      align-self: center;
    }
    & > img {
      grid-column: 2 / 3;
      grid-row: 1 / 2 span;
      width: min(400px, 100%);
      justify-self: center;
      align-self: center;
    }
    & > .button {
      grid-column: 1 / 2;
      padding: 0.5em 2em;
      font-size: 0.5em;
    }
  }
}
