@use 'utils' as ut;
@use 'font' as *;
@use 'color';
@use 'functions' as *;
nav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: color.$non-photo-blue;
  font-size: responsive_font(1.25rem, 2rem, 22.5rem, 90rem);
  padding: 0.5em 0.5em;
  & > div:first-child {
    @include ut.center-item-row;
    & > img {
      width: 1.75em;
    }
    & > h1 {
      font-family: $roboto;
      text-transform: uppercase;
      font-size: inherit;
    }
  }
  & > div:last-child {
    @include ut.center-item-row;

    & > img {
      @include ut.cursor-pointer;
      @include ut.for_larger_device {
        @include ut.hidden-element;
      }
    }
    & > .hidden {
      transform-origin: center;
      transform: translateX(-50%) scale(0);
      transition-property: transform;
      transition-duration: 300ms;
      @include ut.for_larger_device {
        transform: scale(1);
        display: flex !important;
      }
    }
    & > div {
      position: absolute;
      font-family: $roboto;
      width: 80%;
      top: 20%;
      left: 50%;
      padding: 1em;
      transform-origin: center;
      transform: translateX(-50%) scale(1);
      transition-property: transform;
      transition-duration: 500ms;

      background-color: rgba($color: #ffffff, $alpha: 0.8);

      & > li {
        text-align: center;
        list-style: none;
        padding: 0.5em 1.5em;
        transition: background-color;
        transition-duration: 500ms;
        margin-top: 0.2em;
        &:hover {
          background-color: rgba(color.$sapphire-blue, $alpha: 0.5);
        }
        @include ut.for_larger_device {
          margin-top: 0;
          margin-left: 2em;
        }
      }
      & > .active {
        background-color: rgba(color.$sapphire-blue, $alpha: 0.5);
      }
      @include ut.for_larger_device {
        all: initial;
        display: flex !important;
        font-family: $roboto;
      }
    }
  }
}
