/* Add CSS styles here! */
@use 'font' as *;
@use 'color';
@use 'functions' as fun;
@import './_nav';
@import './_main';
@import './_footer';
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
}
h1 {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
