@use 'helper' as *;
@use 'functions' as fun;
@use 'font';
@use 'color';

.collection {
  width: 100%;
  height: 100%;
  @include border-px-gray(2px);
  padding: 0.5em 0.5em;

  & > .collection__header {
    font-family: font.$righteous;
    font-size: fun.responsive_font(0.875rem, 1.5rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: color.$charleston-green;

    & > h1 {
      font-size: inherit;
    }

    & > div {
      margin-left: 1em;
      font-size: 1.25em;
      cursor: pointer;
    }
  }

  & > .collection__item {
    width: 100%;
    margin: 1em auto;
    padding: 0.2em;
    @include border-px-gray(1px);
    height: auto;

    & > div:first-child {
      display: flex;
      align-items: center;
      justify-content: space-between;
      & > input {
        font-family: inherit;
        font-size: max(16px, 0.8em);
        padding: 0.2em;
        @include content-editable;
      }
      & > svg {
        width: 0.5em;
        margin-left: 0.2em;
        cursor: pointer;
      }
    }
    & .collection__item__request_item {
      margin: 0em 0 0 1em;
      &:first-child {
        margin: 0.5em 0 0 1em;
      }
      display: flex;
      align-items: center;
      color: color.$slate-gray;
      & > h1 {
        font-family: font.$domine;
        font-size: max(14px, 0.6em);
        letter-spacing: 0.1em;
        margin-left: 0.2em;
        line-height: 1.4;
        padding: 0 0 0.2em 0;
        cursor: pointer;
      }
      & > svg {
        width: 0.8em;
      }
    }
  }
}
