@use 'font';
@use 'funtions' as *;
.request__input {
  width: 100%;
  font-size: responsive_font(0.875rem, 1.5rem);
  font-family: font.$righteous;
  padding: 0.5em;
  outline: none;
  border: 1px solid grey;
  & :focus {
    outline: none;
  }
}
