@use 'helper';
@use 'font';
@use 'functions';
@use 'color';
.request_option_main {
  width: 85%;
}
.request_option_item {
  margin: 0.5em 0;
  @include helper.border-px-gray(2px);
  //select by custom html property
  &[data-id='header'] {
    padding: 0.5em;
    & > div:first-child {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      & > h1 {
        color: color.$davys-grey;
        font-family: font.$righteous;
        font-size: functions.responsive_font(0.875rem, 1.5rem);
      }
      & > button {
        align-self: flex-end;
        padding: 0.5em 2em;
        font-size: responsive_font(0.875rem, 1.125rem);
        font-family: font.$righteous;
        border-style: none;
        background-color: transparent;
        cursor: pointer;
        @include helper.border-px-gray(2px);
        transition-property: background-color color;
        transition-duration: 200ms;
        &:hover {
          background-color: color.$charleston-green;
          color: color.$cultured;
        }
      }
    }
  }
  &[data-id='body'] {
    background-color: rgb(0, 0, 0);
  }
  &[data-id='param'] {
    background-color: rgb(68, 252, 44);
  }
}

.header__item {
  padding: 0.2em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: color.$davys-grey;
  font-family: font.$righteous;
  & > div:first-child {
    flex: 1 1;
    @include helper.border-px-gray(1px);
    padding: 0.2em 0.5em;
    & > input {
      font-family: inherit;
      font-size: functions.responsive_font(0.875rem, 1.125rem);
      @include helper.content-editable(0.3em 0.6em, 1px, color.$davys-grey);
    }
  }

  & > svg {
    flex-grow: 1;
    flex-shrink: 1;
  }

  & > div:last-child {
    @include helper.border-px-gray(1px);
    padding: 0.2em 0.5em;
    flex: 3 1;
    & > input {
      font-family: inherit;
      font-size: functions.responsive_font(0.875rem, 1.125rem);
      @include helper.content-editable(0.3em 0.6em, 1px, color.$davys-grey);
    }
  }
}
.header__options__items {
  height: 20vh;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
