@use 'helper';
@use 'font';
@use 'functions';
@use 'color';
@mixin response-header {
  & > div:first-child {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    & > h1 {
      color: color.$davys-grey;
      font-family: font.$righteous;
      font-size: functions.responsive_font(0.875rem, 1.5rem);
    }
    & > button {
      align-self: flex-end;
      @include helper.button-primary($padding: 0.2em 1.5em);
    }
  }
}
.request_option_main {
  width: 85%;
}
.request_option_item {
  margin: 0.5em 0;
  @include helper.border-px-gray(2px);
  //select by custom html property
  &[data-id='header'] {
    padding: 0.5em;
    @include response-header;
  }
  &[data-id='body'] {
    padding: 0.5em;
    @include response-header;
  }
  &[data-id='param'] {
    padding: 0.5em;
    @include response-header;
  }
}

@mixin header__item__input {
  & > input {
    font-family: inherit;
    font-size: functions.responsive_font(0.875rem, 1.125rem);
    @include helper.content-editable(0.3em 0.6em, 1px, color.$davys-grey);
  }
}
.header__item__first {
  @include header__item__input();
}
.header__item__second {
  @include header__item__input();
}
.body__item__first {
  display: flex;
  font-size: functions.responsive_font(0.875rem, 1.125rem);
  @include header__item__input();
  & > div:last-child {
    width: min-content;
    padding: 0 !important;
    & > div:first-child {
      padding: 0.1em !important;
    }
    & > div:not(:first-child) {
      padding: 0.5em !important;
    }
  }
}
.body__item__second {
  @include header__item__input();

  font-size: functions.responsive_font(0.875rem, 1rem);
  & > label {
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 0.2em 0.5em;
  }
  & > input[type='file'] {
    display: none;
  }
}
.request__item {
  padding: 0.2em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: color.$davys-grey;
  font-family: font.$righteous;
  & > div:first-child {
    flex: 1 1;
    @include helper.border-px-gray(1px);
    padding: 0.2em 0.5em;
  }

  & > svg {
    flex-grow: 1;
    flex-shrink: 1;
  }

  & > div:last-child {
    @include helper.border-px-gray(1px);
    padding: 0.2em 0.5em;
    flex: 3 1;
  }
}
.header__options__items {
  height: 20vh;
  overflow-y: scroll;
}
.request__body__items {
  height: 20vh;
  overflow-y: scroll;
}
.param__options__items {
  height: 20vh;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
