@use 'color';
.toggle.open {
  display: none;
  // add default box-sizing for this scope
  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + .toggle_button {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }

  + .toggle_button {
    outline: 0;
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:after,
    &:before {
      position: relative;
      display: block;
      content: '';
      width: 50%;
      height: 100%;
    }

    &:after {
      left: 50%;
    }

    &:before {
      display: none;
    }
  }

  &:checked + .toggle_button:after {
    left: 0%;
  }
}
.toggle.close {
  display: none;
  // add default box-sizing for this scope
  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + .toggle_button {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }

  + .toggle_button {
    outline: 0;
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:after,
    &:before {
      position: relative;
      display: block;
      content: '';
      width: 50%;
      height: 100%;
    }

    &:after {
      left: 0%;
    }

    &:before {
      display: none;
    }
  }

  &:checked + .toggle_button:after {
    left: 50%;
  }
}

// themes
.toggle_light {
  + .toggle_button {
    background: color.$cultured-2;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
    &:after {
      border-radius: 50%;
      background: #fff;
      transition: all 0.2s ease;
    }
  }

  &:checked + .toggle_button {
    background: color.$davys-grey;
  }
}
